body {
  background-color: #88ba78;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  left: 50%;
  right: 50%;
  margin-top: 30px;
  background-color: white;
  opacity: 60%;
  width: 60%;
  height: 520px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 3);
  border-radius: 25px;
}

.title {
  width: 90%;
  height: 80px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  border-color: #b0afae;
}

.subtitle {
  width: 90%;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 18px;
}

.input-container {
  width: 90%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.input-box {
  width: 70%;
}

input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10px;
  font-family: "Montserrat", sans-serif;
}

.add-button {
  width: 20%;
}

button {
  height: 40px;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Montserrat", sans-serif;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 90%;
  list-style: none;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 40px;
  background-color: #88ba78;
  opacity: 80%;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.bin {
  cursor: pointer;
  transition: ease-in-out 0.2s;
  background-image: url(./assets/bin.png);
  background-size: cover;
  background-color: #88ba78;
  opacity: 80%;
  border: none;
  width: 16px;
  height: 16px;
}

li {
  cursor: pointer;
}

.bin:hover {
  width: 17px;
  height: 17px;
}

.list-item:hover {
  opacity: 100%;
}

.list-item.checked {
  text-decoration: line-through;
  opacity: 50%;
}

.list-item.completed {
  text-decoration: line-through;
  opacity: 50%;
}
